body {
    background-color: rgb(31, 59, 102);
}

#posts-container {
    display: block;
    padding: 1em;
    border: solid #ffff .1em;
}

h1 {
    color: white;
    font-family: arial;
    text-align: center;
}

h2 {
    color: white;
    font-family: arial;
    text-align: left;
}

a {
    display: flex;
    justify-content: right;
    right: 1em;
    margin-top: -2em;
    font-family: arial;
    font-size: 25px;
    color: rgb(241, 142, 37);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 179, 87);
}

img {
    display: flex;
    border-radius: .5em;
    padding-bottom: 2em;
}




